.container {
  border-radius: 4px;
  box-shadow: 0 0 5px 0 var(--md-sys-color-shadow);
  padding: 8px 0;
  display: none;
  position: absolute;
  z-index: 10;
  background-color: var(--md-sys-color-surface-container-lowest);

  animation-fill-mode: forwards;
  animation-duration: 100ms;
  &.open {
    display: block;
    animation-name: open;
  }
  &.close {
    animation-name: close;
  }
}

@keyframes open {
  from {
    display: none;
    opacity: 0;
  }

  to {
    display: block;
    opacity: 1;
  }
}

@keyframes close {
  from {
    display: block;
    opacity: 1;
  }

  to {
    display: none;
    opacity: 0;
  }
}
