.container {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 16px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid var(--md-sys-color-outline);

  &.active {
    background-color: var(--md-sys-color-surface-container);

    .icon {
      animation-name: open;
    }
  }

  &.inactive {
    .icon {
      animation-name: close;
    }
  }
}

.label-wrapper {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.label {
  white-space: nowrap;
}

.icon {
  animation-duration: 200ms;
  animation-fill-mode: forwards;
}

/*メニューを開くときにアイコンを回転させるアニメーション*/
@keyframes open {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 180deg;
  }
}

/*メニューを閉じるときにアイコンを回転させるアニメーション*/
@keyframes close {
  from {
    rotate: 180deg;
  }

  to {
    rotate: 0deg;
  }
}
